Source: opcuaclient
Priority: extra
Maintainer: Alexander Rykovanov <rykovanov.as@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/treww/opcua-client
Vcs-Git: https://github.com/treww/opcua-client.git

Package: opcuaclient-dev
Section: libdevel
Architecture: amd64 i386
Depends: opcuaclient (= ${binary:Version}), libopcuacore-dev (>= 0.1.3), opcuamappings-dev (>= 0.2.0), libboost-system-dev
Description: OPCUA client developer files.

Package: opcuaclient
Section: libs
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libopcuacore (>= 0.1.3), opcuamappings (>= 0.2.0)
Description: OPCUA client.

